# Libs:

In [21]:
import pandas as pd
import numpy as np
from sklearn import datasets
iris = datasets.load_iris()

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score


from xgboost import XGBClassifier
from xgboost import XGBRegressor

In [6]:
df = pd.DataFrame(data= np.c_[iris['data'], iris['target']],columns= iris['feature_names'] + ['target'])
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0

In [18]:
df['target'].value_counts(normalize=True)

0.0    0.333333
1.0    0.333333
2.0    0.333333
Name: target, dtype: float64

# XGBClassifier

## Split data

In [14]:
X_train, X_test, y_train, y_test = train_test_split(
    iris['data'],
    iris['target'],
    random_state=42,
   # stratify=df['target']
)

In [15]:
xgb = XGBClassifier(booster='gbtree',
                    objective='multi:softprob',
                    learning_rate=0.1,
                    n_estimators=100,
                    random_state=42,
                    n_jobs=-1
                   )

xgb.fit(X_train, y_train)

y_pred = xgb.predict(X_test)

score = accuracy_score(y_pred, y_test)
print('Score: ' + str(score))

Score: 1.0

In [16]:
X_train, X_test, y_train, y_test = train_test_split(
    iris['data'],
    iris['target'],
    random_state=42,
    stratify=df['target']
)

In [17]:
xgb = XGBClassifier(booster='gbtree',
                    objective='multi:softprob',
                    learning_rate=0.1,
                    n_estimators=100,
                    random_state=42,
                    n_jobs=-1
                   )

xgb.fit(X_train, y_train)

y_pred = xgb.predict(X_test)

score = accuracy_score(y_pred, y_test)
print('Score: ' + str(score))

Score: 0.9210526315789473

# XGBRegressor

In [22]:
X,y = datasets.load_diabetes(return_X_y=True)

In [23]:
xgb = XGBRegressor(booster='gbtree',
                   objective='reg:squarederror',
                   learning_rate=0.1,
                   n_estimators=100,
                   random_state=42,
                   n_jobs=-1
                  )


scores = cross_val_score(xgb, X, y, scoring='neg_mean_squared_error', cv=5)

# Take square root of the scores
rmse = np.sqrt(-scores)

# Display accuracy
print('RMSE:', np.round(rmse, 3))

# Display mean score
print('RMSE mean: %0.3f' % (rmse.mean()))

RMSE: [63.011 59.705 64.538 63.706 64.588]
RMSE mean: 63.109

In [24]:
pd.DataFrame(y).describe()

                0
count  442.000000
mean   152.133484
std     77.093005
min     25.000000
25%     87.000000
50%    140.500000
75%    211.500000
max    346.000000