# Libs:

In [40]:
import pandas as pd
import numpy as np

# Import warnings
import warnings
warnings.filterwarnings('ignore')

# Import GridSearchCV
from sklearn.model_selection import GridSearchCV
# Import RandomizedSearchCV
from sklearn.model_selection import RandomizedSearchCV


# Import train_test_split
from sklearn.model_selection import train_test_split

# Import accuracy_score
from sklearn.metrics import accuracy_score

# Import Decision Tree classifier
from sklearn.tree import DecisionTreeClassifier
# Import Decision Tree Regressor
from sklearn.tree import DecisionTreeRegressor

# Import cross_val_score
from sklearn.model_selection import cross_val_score

# Import Linear Regression
from sklearn.linear_model import LinearRegression

# Prepare data

In [5]:
df_census = pd.read_csv('/home/antonius/Projects/DS_Projects/learn_XGBoost/data/census_cleaned.csv')
df_census.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,...,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia,income_ >50K
0,39,77516,13,2174,0,40,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,50,83311,13,0,0,13,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,38,215646,9,0,0,40,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,53,234721,7,0,0,40,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,28,338409,13,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Split data

In [6]:
# Split data into X and y
X = df_census.iloc[:,:-1]
y = df_census.iloc[:,-1]

In [19]:
# Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    random_state=42
)

In [20]:
# Initialize classification model
clf = DecisionTreeClassifier(random_state=2)

# Fit model on training data
clf.fit(
    X_train,
    y_train
)

# Make predictions for test data
y_pred = clf.predict(X_test)

# Calculate accuracy
accuracy_score(y_pred, y_test)

0.823731728288908

# Bike rentals linear reg

In [14]:
# Read bike_rentals_cleaned dataset
df_bikes = pd.read_csv('/home/antonius/Projects/DS_Projects/learn_XGBoost/data/bike_rentals_cleaned.csv')
df_bikes.head()

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,1.0,0.0,1.0,0.0,6.0,0.0,2,0.344167,0.363625,0.805833,0.160446,985
1,2,1.0,0.0,1.0,0.0,0.0,0.0,2,0.363478,0.353739,0.696087,0.248539,801
2,3,1.0,0.0,1.0,0.0,1.0,1.0,1,0.196364,0.189405,0.437273,0.248309,1349
3,4,1.0,0.0,1.0,0.0,2.0,1.0,1,0.200000,0.212122,0.590435,0.160296,1562
4,5,1.0,0.0,1.0,0.0,3.0,1.0,1,0.226957,0.229270,0.436957,0.186900,1600

In [15]:
# Split data into X and y
X_bikes = df_bikes.iloc[:,:-1]
y_bikes = df_bikes.iloc[:,-1]

In [17]:
# Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(
    X_bikes,
    y_bikes,
    random_state=42
)

In [21]:
# Initialize Decision Tree Regressor
reg = DecisionTreeRegressor(random_state=42)

# Obtain scores of cross-validation using mean squared error
scores = cross_val_score(
    reg,
    X_bikes,
    y_bikes,
    scoring='neg_mean_squared_error',
    cv=5)

# Take square root of the scores
rmse = np.sqrt(-scores)

# Display mean score
print('RMSE mean: %0.2f' % (rmse.mean()))

RMSE mean: 1212.63

In [23]:
# Initialize and score DecisionTreeRegressor on training set
reg = DecisionTreeRegressor()
reg.fit(
    X_train,
    y_train
)

y_pred = reg.predict(X_train)


from sklearn.metrics import mean_squared_error
reg_mse = mean_squared_error(y_train, y_pred)
reg_rmse = np.sqrt(reg_mse)
reg_rmse

0.0

# GridSearchCV

In [25]:
# Choose max_depth hyperparameters
params = {'max_depth':[None,2,3,4,6,8,10,20]}

# Initialize regression model as reg
reg = DecisionTreeRegressor(random_state=42)

# Initialize GridSearchCV as grid_reg
grid_reg = GridSearchCV(
    reg,
    params,
    scoring='neg_mean_squared_error',
    cv=5, n_jobs=-1
)

# Fit grid_reg on X_train and y_train
grid_reg.fit(X_train, y_train)

# Extract best parameters
best_params = grid_reg.best_params_

# Print best hyperparameters
print("Best params:", best_params)

Best params: {'max_depth': 8}

In [28]:
# Compute best score
best_score = np.sqrt(-grid_reg.best_score_)

# Print best score
print("Training score: {:.5f}".format(best_score))

Training score: 0.32025

In [11]:
# Extract best model
best_model = grid_reg.best_estimator_

# Predict test set labels
y_pred = best_model.predict(X_test)

# Import mean_squared_error from sklearn.metrics as MSE 
from sklearn.metrics import mean_squared_error

# Compute rmse_test
rmse_test = mean_squared_error(y_test, y_pred)**0.5

# Print rmse_test
print('Test score: {:.3f}'.format(rmse_test))

Test score: 864.670

In [29]:
# Create grid_search function
def grid_search(params,
                reg=DecisionTreeRegressor(random_state=2)):

    # Instantiate GridSearchCV as grid_reg
    grid_reg = GridSearchCV(reg,
                            params,
                            scoring='neg_mean_squared_error',
                            cv=5,
                            n_jobs=-1
                           )
    
    # Fit grid_reg on X_train and y_train
    grid_reg.fit(X_train, y_train)

    # Extract best params
    best_params = grid_reg.best_params_

    # Print best params
    print("Best params:", best_params)
    
    # Compute best score
    best_score = np.sqrt(-grid_reg.best_score_)

    # Print best score
    print("Training score: {:.5f}".format(best_score))

    # Predict test set labels
    y_pred = grid_reg.predict(X_test)

    # Compute rmse_test
    rmse_test = mean_squared_error(y_test, y_pred)**0.5

    # Print rmse_test
    print('Test score: {:.5f}'.format(rmse_test))

In [30]:
X_train.shape

(24420, 92)

In [31]:
grid_search(params={'min_samples_leaf':[1,2,4,6,8,10,20,30]})

Best params: {'min_samples_leaf': 30}
Training score: 0.32062
Test score: 0.31227

In [33]:
grid_search(
    params={
        'max_depth':[None,2,3,4,6,8,10,20],
        'min_samples_leaf':[1,2,4,6,8,10,20,30]
})

Best params: {'max_depth': 10, 'min_samples_leaf': 30}
Training score: 0.31817
Test score: 0.31135

In [34]:
grid_search(
    params={
        'max_depth':[5,6,7,8,9],
        'min_samples_leaf':[3,5,7,9]
})

Best params: {'max_depth': 8, 'min_samples_leaf': 7}
Training score: 0.31858
Test score: 0.31255